<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Layout</title>

    <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "/vendor/jquery/dist/jquery.min.js" %>
    <%= javascript_include_tag "/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %>
    <%= javascript_include_tag "/vendor/js-cookie/js.cookie.js" %>
    <%= javascript_include_tag "/vendor/jquery.scrollbar/jquery.scrollbar.min.js" %>
    <%= javascript_include_tag "/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %>

    <%= javascript_include_tag "/vendor/chart.js/dist/Chart.min.js" %>
    <%= javascript_include_tag "/vendor/chart.js/dist/Chart.extension.js" %>

    <%= javascript_include_tag "/vendor/js/argon.js" %>
  </body>
</html>
